<div class="c-main-sub-navigation" *ngIf="showSkillsNav">
    <div class="c-nav-list">
        <div class="c-nav-list__item my" title="my consultants">
            <a>
                <i class="fas fa-user-friends  nav-icon"></i>
                <span>My Consultants</span>
            </a>
        </div>
        <div class="c-nav-list__item my" title="my accounts ">
            <a>
                <i class="fas fa-user-friends  nav-icon"></i>
                <span>My Accounts</span>
            </a>
        </div>
        <div class="c-nav-list__item my" title="my skills">
            <a>
                <i class="fas fa-brain  nav-icon"></i>
                <span>My Skillz</span>
            </a>
        </div>
        <div class="c-nav-list__item my" title="my skills">
            <a>
                <i class="fas fa-file-alt  nav-icon"></i>
                <span>My Evaluations</span>
            </a>
        </div>
    </div>

    <div class="c-main-sub-navigation__group">
        <header>
            Consultants
        </header>
        <div class="c-nav-list">
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-user-friends  nav-icon"></i>
                    <span>All Consultants</span>
                </a>
            </div>
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-user-friends  nav-icon"></i>
                    <span>My Consultants</span>
                </a>
            </div>
        </div>
    </div>

    <div class="c-main-sub-navigation__group">
        <header>
            Accounts
        </header>
        <div class="c-nav-list">
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-user-friends  nav-icon"></i>
                    <span>My Prospects</span>
                </a>
            </div>
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-user-friends  nav-icon"></i>
                    <span>My Accounts</span>
                </a>
            </div>
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-user-friends  nav-icon"></i>
                    <span>My Prospects</span>
                </a>
            </div>
        </div>
    </div>

    <div class="c-main-sub-navigation__group">
        <header>
            Evaluations
        </header>
        <div class="c-nav-list">
            <div class="c-nav-list__item  is-active">
                <a>
                    <i class="fas fa-file-alt  nav-icon"></i>
                    <span>All Evaluations</span>
                </a>
            </div>
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-file-alt  nav-icon"></i>
                    <span>My Evaluations</span>
                </a>
            </div>
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-file-alt  nav-icon"></i>
                    <span>Upcoming Evaluations</span>
                </a>
            </div>
            <div class="c-nav-list__item">
                <a>
                    <i class="fas fa-question-circle  nav-icon"></i>
                    <span>Questions</span>
                </a>
            </div>
        </div>
    </div>

    <div class="c-main-sub-navigation__group">
        <header>
            My Company
        </header>
        <div class="c-nav-list">
            <div class="c-nav-list__item  is-active">
                <a>
                    <i class="fas fa-user-friends  nav-icon"></i>
                    <span>Employees</span>
                </a>
            </div>
            <div class="c-nav-list__item  is-active">
                <a>
                    <i class="fas fa-brain  nav-icon"></i>
                    <span>Skills</span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="c-main-sub-navigation" *ngIf="showCalcNav">
    <div class="c-nav-list">
        <div class="c-nav-list__item" title="new contract">
            <a>
                <i class="far fa-file nav-icon"></i>
                <span>New contract</span>
            </a>
        </div>
    </div>
    <div class="c-main-sub-navigation__group">
        <header>Contracts</header>
        <div class="c-nav-list__item">
            <a>
                <i class="fas fa-list nav-icon"></i>
                <span>Overview</span>
            </a>
        </div>
    </div>
    <div class="c-main-sub-navigation__group">
        <header>Perks</header>
        <div class="c-nav-list__item">
            <a>
                <i class="fas fa-list nav-icon"></i>
                <span>Overview</span>
            </a>
        </div>
    </div>
</div>