<div class="c-content-page">
    <header class="c-content-page__header">
        <div class="c-content-page__header-title">
            <h1>{{(consultant$ | async)?.firstName + " " + (consultant$ | async)?.lastName}}</h1>
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#">Skillz</a></li>
                    <li><a href="/skillz/consultants">Consultants</a></li>
                    <li class="is-active">
                        <a href="#" aria-current="page">
                            {{(consultant$ | async)?.firstName + " " + (consultant$ | async)?.lastName}}
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="c-content-page__header-actions">
            <button class="button is-primary">
                <span class="icon"><i class="fas fa-user-edit"></i></span>
                <span>Edit</span>
            </button>
            <div class="dropdown is-right">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>More...</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                            Add Evaluation
                        </a>
                        <hr class="dropdown-divider" />
                        <a href="#" class="dropdown-item">
                            Delete Consultant
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="c-content-page__content">
        <article class="panel">
            <h2 class="panel-heading">Contact Information</h2>
            <div class="panel-block">
                <table class="c-info-table">
                    <tr>
                        <td>
                            <div class="column c-info-block">
                                <span class="c-info-block__label">
                                    Function name
                                </span>
                                <span class="c-info-block__value">
                                    {{(consultant$ | async)?.functionLevel}}
                                    {{(consultant$ | async)?.functionName}}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="column c-info-block">
                                <span class="c-info-block__label">
                                    Personal email
                                </span>
                                <span class="c-info-block__value">
                                    <a href="mailto:kevin.derudder@gmail.com">{{(consultant$ | async)?.email}}</a>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="c-info-block">
                                <span class="c-info-block__label">
                                    Work email
                                </span>
                                <span class="c-info-block__value">
                                    <a href="mailto:kevin.derudder@gmail.com">{{(consultant$ | async)?.email}}</a>
                                </span>
                            </div>
                        </td>
                        <td rowspan="2">
                            <div class="c-info-block">
                                <span class="c-info-block__label">
                                    Address
                                </span>
                                <span class="c-info-block__value">
                                    <address>
                                        Hubert Frère Orbanlaan 225,<br />9000 Gent
                                    </address>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class=" c-info-block">
                                <span class="c-info-block__label">
                                    Work phone
                                </span>
                                <span class="c-info-block__value">
                                   {{(consultant$ | async)?.phone}}
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="column c-info-block">
                                <span class="c-info-block__label">
                                    Personal phone
                                </span>
                                <span class="c-info-block__value">
                                    {{(consultant$ | async)?.mobilePhone}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
        <article class="panel is-primary">
            <p class="panel-heading">
                Consultancy Information
            </p>
            <p class="panel-tabs">
                <a [ngClass]="{ 'is-active': panelActive === 'contracts' }"
                    (click)="show($event, 'contracts')">Contract</a>
                <a [ngClass]="{ 'is-active': panelActive === 'passedContracts' }"
                    (click)="show($event, 'passedContracts')">Contract History</a>
                <a (click)="show($event, 'evals')" [ngClass]="{ 'is-active': panelActive === 'evals' }">Evaluations
                </a>
                <a (click)="show($event, 'skills')" [ngClass]="{ 'is-active': panelActive === 'skills' }">Skills</a>
                <a>Vault</a>
                <a>Certificates</a>
                <a (click)="show($event, 'notes')" [ngClass]="{ 'is-active': panelActive === 'notes' }">Notes</a>
            </p>
            <div class="panel-block panel-tabs__tabinfo" [ngClass]="{ 'is-active': panelActive === 'contracts' }">
                <h2>Current</h2>
                <div class="c-info-overview">
                    <div class="c-info-overview__body">
                        <div class="column c-info-block">
                            <span class="c-info-block__label">
                                Functie
                            </span>
                            <span class="c-info-block__value">
                                Developer
                            </span>
                        </div>

                        <div class="column c-info-block">
                            <span class="c-info-block__label">
                                Start date
                            </span>
                            <span class="c-info-block__value">
                                30 augustus 2019
                            </span>
                        </div>

                        <div class="column c-info-block">
                            <span class="c-info-block__label">
                                End date
                            </span>
                            <span class="c-info-block__value">
                                -
                            </span>
                        </div>

                        <div class="column c-info-block">
                            <span class="c-info-block__label">
                                Current Account
                            </span>
                            <span class="c-info-block__value">
                                Elmos NV.
                            </span>
                        </div>

                        <div class="column c-info-block">
                            <span class="c-info-block__label">
                                Salary
                            </span>
                            <span class="c-info-block__value">
                                €4.000
                            </span>
                        </div>
                    </div>
                </div>

                <h2>Perks</h2>
                <div class="c-info-overview">
                    <div class="c-perks">
                        <div class="c-perk">
                            <div class="c-perk__icon"><i class="fas fa-car icon"></i></div>
                            <div class="c-perk__title">
                                Peugeot 308 SW Allure 1.6BlueHDi
                            </div>
                        </div>
                        <div class="c-perk">
                            <div class="c-perk__icon">
                                <i class="fas fa-credit-card icon"></i>
                            </div>
                            <div class="c-perk__title">Tankkaart</div>
                        </div>
                        <div class="c-perk">
                            <div class="c-perk__icon">
                                <i class="fas fa-hospital icon"></i>
                            </div>
                            <div class="c-perk__title">Hospitalisatie verzekering</div>
                        </div>
                        <div class="c-perk">
                            <div class="c-perk__icon">
                                <i class="fas fa-file-medical-alt icon"></i>
                            </div>
                            <div class="c-perk__title">Groepsverzekering</div>
                        </div>

                        <div class="c-perk">
                            <div class="c-perk__icon">
                                <i class="fas fa-utensils icon"></i>
                            </div>
                            <div class="c-perk__title">Maaltijdchecks €6.91</div>
                        </div>

                        <div class="c-perk">
                            <div class="c-perk__icon">
                                <i class="fas fa-coins icon"></i>
                            </div>
                            <div class="c-perk__title">Forfaitaire vergoeding €150</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-block panel-block--no-padding panel-tabs__tabinfo"
                [ngClass]="{ 'is-active': panelActive === 'passedContracts' }">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Wage</th>
                            <th>Account</th>
                            <th>Sell Rate (hourly)</th>

                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>04/02/2010</td>
                            <td>€2.100</td>
                            <td>Siemens</td>
                            <td><i class="fas fa-minus"></i> €40/u</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/01/2011</td>
                            <td>€2.152,29</td>
                            <td>Siemens</td>
                            <td><i class="fas fa-minus"></i> €40/u</td>
                            <td>Index verhoging</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/01/2012</td>
                            <td>€2.227,18</td>
                            <td>Siemens</td>
                            <td><i class="fas fa-arrow-up"></i> €41/u</td>
                            <td>Index verhoging</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-block panel-block--no-padding panel-tabs__tabinfo"
                [ngClass]="{ 'is-active': panelActive === 'evals' }">
                <table class="c-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Account</th>
                            <th>Account Responsible</th>
                            <th>Account Manager</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-file-alt"></i></td>
                            <td>01/07/2020</td>
                            <td>Elmos NV.</td>
                            <td>Liesbeth Debruyn</td>
                            <td>Kevin DeRudder</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-block  panel-tabs__tabinfo panel-block--no-padding"
                [ngClass]="{ 'is-active': panelActive === 'skills' }">
                <div class="tabs is-toggle is-small is-right">
                    <ul>
                        <li class="is-active">
                            <a>
                                <span>Development</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>Analyse</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span>Soft Skills</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="c-grouped-table">
                    <header class="c-grouped-table__header">
                        <span>Programmeertalen</span>
                        <div class="c-group-table__actions">
                            <button class="button is-small is-outlined" (click)="showAddSkillModal('1')">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </header>
                    <table class="c-table c-questions">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Skill</th>
                                <th>Level</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="c-question">
                                <td class="c-question__icon">
                                    <i class="fas fa-brain"></i>
                                </td>
                                <td class="c-question__name">C#</td>
                                <td class="c-question__name">Medior</td>
                                <td class="c-stars">
                                    <i class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i class="fas fa-star star"></i><i
                                        class="fas fa-star star"></i>
                                </td>
                            </tr>
                            <tr class="c-question">
                                <td class="c-question__icon">
                                    <i class="fas fa-brain"></i>
                                </td>
                                <td class="c-question__name">Entity Framework Core</td>
                                <td class="c-question__name">Medior</td>
                                <td class="c-stars">
                                    <i class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i class="fas fa-star star"></i><i
                                        class="fas fa-star star"></i><i class="fas fa-star star"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <header class="c-grouped-table__header">Tools</header>
                    <table class="c-table c-questions">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Skill</th>
                                <th>Level</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="c-question">
                                <td class="c-question__icon">
                                    <i class="fas fa-brain"></i>
                                </td>
                                <td class="c-question__name">Visual Studio</td>
                                <td class="c-question__name">Medior</td>
                                <td class="c-stars">
                                    <i class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i>
                                </td>
                            </tr>
                            <tr class="c-question">
                                <td class="c-question__icon">
                                    <i class="fas fa-brain"></i>
                                </td>
                                <td class="c-question__name">Entity Framework Core</td>
                                <td class="c-question__name">Medior</td>
                                <td class="c-stars">
                                    <i class="fas fa-star star star-succeed"></i><i
                                        class="fas fa-star star star-succeed"></i><i class="fas fa-star star"></i><i
                                        class="fas fa-star star"></i><i class="fas fa-star star"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel-block  panel-tabs__tabinfo panel-block--no-padding"
                [ngClass]="{ 'is-active': panelActive === 'notes' }">
                <div class="c-notes">
                    <div class="c-note">
                        <header class="c-note__heading">
                            "Kevin DeRudder" on 08/07/2020
                        </header>
                        <p>
                            Dit is de note
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <div class="modal" [ngClass]="{ 'is-active': addSkillIsActive }">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add new skill to Consultant</p>
                <button class="delete" aria-label="close" (click)="closeAndCancelAddSkillModal()"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Category</label>
                    <div class="control">
                        <div class="select">
                            <select placeholder="category..." v-model="skills.category">
                                <option value="1">Development</option>
                                <option value="2">Analyst</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Skill</label>
                    <div class="select">
                        <select placeholder="category..." v-model="skills.skill">
                            <option>C#</option>
                            <option>Java</option>
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Rating</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="0" value="0" max="5" v-model="skills.rating" />
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" v-on:click="saveSkill">
                    Add Skill
                </button>
                <button class="button" v-on:click="closeAndCancelAddSkillModal">
                    Cancel
                </button>
            </footer>
        </div>
    </div>
</div>