.c-content-page {
    margin: 30px 20px;

    &__header {
        display: flex;
        flex-direction: row;

        &-actions {
            text-align: right;
            flex-grow: 2;
        }

        .dropdown {
            text-align: left;
            margin-left: 10px;
        }
    }
    &__content {
        margin: 20px 0;
    }
}
