// Main colors
$color-primary: #00d1b2;
$color-secondary: "";
$color-third: "";

// Basic colors
$color-black: #000;
$color-white: #fff;

// Original colors (TODO: switch to main colors instead?)
$selected-color: $color-primary;
$border-color: #efefef;
$panel-border-color:$border-color;
$panel-color: rgb(228, 228, 228);
$info-label-color: #acacac;
$star-ok-color: rgb(252, 207, 59);